@model ProjektSklepGryWideo.Models.User

@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>


    <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="AllOrders">Orders</a>
  
